

<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link th:href="@{/css/app.css}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;
        }

        /* Remove the jumbotron's default bottom margin */
        .jumbotron {
            margin-bottom: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>

<div class="jumbotron">
    <div class="container text-center">
        <!--        <h1></h1>-->
        <!--        <p>Mission, Vission & Values</p>-->
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/product/select/outer">OUTER</a></li>
                <li><a href="/product/select/top">TOP</a></li>
                <li><a href="/product/select/shirt">SHIRT</a></li>
                <li><a href="/product/select/knit">KNIT</a></li>
                <li><a href="/product/select/bottom">BOTTOM</a></li>
                <li><a href="/product/select/acc">ACC</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.loginAdmin != null}"><a href="/dashboard">
                    <span class="glyphicon glyphicon-wrench"></span> 상품관리</a></li>
                <li th:if="${session.loginUser == null}"><a href="/joinUser">
                    <span class="glyphicon glyphicon-inbox"></span> 회원가입</a></li>
                <li th:if="${session.loginUser== null}"><a href="/userLogin">
                    <span class="glyphicon glyphicon-user"></span> 로그인</a></li>
                <li th:if="${session.loginUser != null}"><a href="/logoutUser">
                    <span class="glyphicon glyphicon-user"></span> 로그아웃</a></li>
                <li th:if="${session.loginUser != null}"><a href="#">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">
<div class="container" style="width: 35rem">
    <div class="card card-register mx-auto mt-5">
        <label class="card-header">회원가입</label>
        <div class="card-body">
            <!--            <form>-->
            <div class="form-group">
                <div class="form-label-group">
                    <label for="userId">이메일</label>
                    <input type="text" id="userId" class="form-control" placeholder="이메일" required="required" autofocus="autofocus">
                </div>
                <div class="form-label-group">
                    <label for="name">이름</label>
                    <input type="text" id="name" class="form-control" placeholder="이름" required="required">
                </div>
          </div>
        </div>

            <div class="form-group">
                <div class="form-row">
                        <div class="form-label-group">
                            <label for="userPassword">비밀번호</label>
                            <input type="password" id="userPassword" class="form-control" placeholder="Password" required="required">
                    </div>
                        <div class="form-label-group">
                            <label for="confirmPassword">비밀번호 확인</label>
                            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                        </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="form-label-group">
                        <label for="name">연락처</label>
                        <input type="text" id="tellNumber" class="form-control" placeholder="연락처" required="required">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" style="width: 40%; display: inline;" placeholder="우편번호" name="addr1" id="addr1" type="text" readonly="readonly" >
                <button type="button" class="btn btn-default" onclick="execPostCode();"><i class="fa fa-search"></i> 우편번호 찾기</button>
            </div>
            <div class="form-group">
                <input class="form-control" style="top: 5px;" placeholder="도로명 주소" name="addr2" id="addr2" type="text" readonly="readonly" />
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="상세주소" name="addr3" id="addr3" type="text"  />
            </div>
            <button class="btn btn-primary btn-block" id="joinUser">가입하기</button>
            <!--            <button class="btn btn-primary btn-block" id="joinUser">사용자로 가입</button>-->
            <!--            </form>-->
            <div class="text-center">
                <a class="d-block small mt-3" href="/">Login Page</a>
            </div>
        </div>
    </div>
</div>
</div>
</div><br><br>

<footer class="container-fluid text-center">
    <p>Online Store Copyright</p>
    <form class="form-inline">Get deals:
        <input type="email" class="form-control" size="50" placeholder="Email Address">
        <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
</footer>
<script src="/js/getCustom.js"></script>
<script src="/js/loginPopup.js"></script>
<script src="/js/getAddress.js"></script>
<script src="/js/scrollMove.js"></script>
<script>
// where scrollMove?
    let id = '#name'

    //TODO 한 폼에서 따로 가입 로직 구현되게 해보기
    document.getElementById('joinUser').addEventListener('click', e => signup());
    async function signup() {
        // let x = document.querySelector('body > div > div > div.col-sm-8.text-left');
        let userId = document.getElementById(`userId`).value;
        let userPassword =  document.getElementById(`userPassword`).value;
        let confirmPassword =  document.getElementById('confirmPassword').value;
        let name =  document.getElementById('name').value;
        let tellNumber = document.getElementById('tellNumber').value;
        let addr2 = document.getElementById('addr2').value + " ";
        let addr3 = document.getElementById('addr3').value;
        let address = addr2 + addr3;
        // let bank = document.getElementById('bank').value;
        try {
            let res = await fetch(`/api/user` , {
                method:'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Charset': 'UTF-8'
                },
                body: JSON.stringify({
                    userId,
                    userPassword,
                    confirmPassword,
                    name,
                    tellNumber,
                    address
                })
            });
            console.log(address)
            if(!userId || !userPassword || !confirmPassword || !name || !tellNumber || !addr2){
                alert("양식을 전부 입력 해주세요!")
                return false;
            }else {
                if(userPassword != confirmPassword){
                    alert("비밀번호를 확인 해주세요.")
                }else{
                    if(res.ok) document.location.href="/index";
                    alert("가입이 완료되었습니다!");
                }
            }
        } catch (e) {
        }
    }
    getCustom();
    scroll(id)
</script>
</body>
</html>


