<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>회원가입</title>
<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin.css}" rel="stylesheet" type="text/css"/>

</head>
<body class="bg-dark">
<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
<!--            <form>-->
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" id="adminId" class="form-control" placeholder="아이디" required="required" autofocus="autofocus">
                                <label for="adminId">아이디</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="text" id="name" class="form-control" placeholder="이름" required="required">
                                <label for="name">이름</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="password" id="adminPassword" class="form-control" placeholder="Password" required="required">
                                <label for="adminPassword">비밀번호</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                                <label for="confirmPassword">비밀번호 확인</label>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="form-group">-->
<!--                    <div class="form-row">-->
<!--                        <div class="col-md-6">-->
<!--                            <div class="form-label-group">-->
<!--                                <input type="text" id="bank" class="form-control" placeholder="Password" required="required">-->
<!--                                <label for="bank">은행</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-6">-->
<!--                            <div class="form-label-group">-->
<!--                                <input type="password" id="bankNum" class="form-control" placeholder="Confirm password" required="required">-->
<!--                                <label for="bankNum">계좌번호</label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <button class="btn btn-primary btn-block" id="joinAdmin">가입하기</button>
<!--            </form>-->
            <div class="text-center">
                <a class="d-block small mt-3" href="/">Login Page</a>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('joinAdmin').addEventListener('click', e => signup());
    async function signup() {
        // let x = document.querySelector('body > div > div > div.col-sm-8.text-left');
        console.log("가입하기 gogo");
        let adminId = document.getElementById('adminId').value;
        let adminPassword =  document.getElementById('adminPassword').value;
        let confirmPassword =  document.getElementById('confirmPassword').value;
        let name =  document.getElementById('name').value;
        try {
            let res = await fetch(`/api/admin` , {
                method:'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Charset': 'UTF-8'
                },
                body: JSON.stringify({
                    adminId,
                    name,
                    adminPassword,
                    confirmPassword,
                    // tellNumber,
                    // bank: document.getElementById('bank').value
                })
            });
            //TODO 서버에서 유효성검사 해주고 데이터 save안되게 만들기!
            if(!adminId || !adminPassword || !confirmPassword  || !name ){
                alert("양식을 전부 입력 해주세요!")
            }else {
                if(adminPassword != confirmPassword){
                    alert("비밀번호를 확인 해주세요.")
                }else{
                    if(res.ok) document.location.href="/customizing";
                    alert("가입이 완료되었습니다!");
                }
            }
        } catch (e) {

        }
    }
</script>
</body>
</html>