<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>관리자 페이지</title>
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="/index">내 쇼핑몰 가기</a>


</nav>

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/customizing">
                <i class="fas fa-fw fa-table"></i>
                <span>테마설정</span>
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>게시판</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <h6 class="dropdown-header">Login Screens:</h6>
                <a class="dropdown-item" href="login.html">Login</a>
                <a class="dropdown-item" href="register.html">Register</a>
                <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Other Pages:</h6>
                <a class="dropdown-item" href="404.html">404 Page</a>
                <a class="dropdown-item" href="blank.html">Blank Page</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/product">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>상품관리</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-table"></i>
                <span>주문관리</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-table"></i>
                <span>로그아웃</span></a>
        </li>
        <br><br>
        <li class="nav-item" th:if="${session.loginAdmin != null}">
                <i class="fas fa-fw fa-table"></i>
                <span>안녕하세요,</span>
            <span th:text="${session.loginAdmin}"></span>님
        </li>
    </ul>
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    상품 관리  &nbsp;
                    <a class= "productAdd" href="/productAdd">상품 등록</a>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="align-content: center">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>상품</th>
                                <th>이름</th>
                                <th>가격</th>
                                <th>설명</th>
                                <th>게시날짜</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tfoot>
                            </tfoot>
                            <tbody>
                            <!--      상품 data가 들어갈 곳      -->
                            </tbody>
                        </table>
                    </div>
                    <button id="nextBtn"> ▼ </button>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<script>
    let page =0;
    document.getElementById('nextBtn').addEventListener('click', e => getData(++page));
    async function getData(page) {
        let x = document.querySelector('#dataTable > tbody');
        try {
            let res = await fetch(`/api/product?page=${page}`, {
                method: 'GET'
            });
            let data = await res.json();
            data.map(item => {
                let block = `
                <tr>
                    <td>${item.id}</td>
                    <td><img src="${item.pdImageUrl}" class="img-responsive" style="width:80px" alt="Image"></td>
                    <td>${item.pdName}</td>
                    <td>${item.pdPrice}</td>
                    <td>${item.pdContent}</td>
                    <td>${item.pdDate}</td>
               <td class="pull-right">
                <a href="/api/product/update/${item.id}" onclick="if(!confirm('상품을 수정하시겠습니까?')){return false;}">
                     <button type="button" class="btn btn-warning">Update</button>
                  </a>
                  <a href="/api/product/${item.id}/delete" onclick="if(!confirm('상품을 삭제하시겠습니까?')){return false;}">
                     <button type="button" class="btn btn-danger">Delete</button>
                  </a>
                </td>
            </tr>
                `
                x.innerHTML += block;
            });
        } catch (e) {
        }
    }
    getData(page);
    //TODO 페이징처리하기
</script>
</body>

</html>
